@import "./generalstyle.scss";

// Balises spécifiques page panier
// Générales
h1
{
    font-size: map-get($map: $font-size, $key: headings);
    width:60%;
    padding:35px 0 10px 0;
    @include desktopstyle() {
        width:70%;
    }
}

h2
{
    font-size:1.1em;
    padding: 40px 30px 0 30px;
    margin:50px 20px 0px 20px;
    @include desktopstyle() {
        font-size: map-get($map: $font-size, $key: heading_h2);
    }
    
    &.noDisplay
    {
        display:none;
    }
}

button
{
    width:55%;
    @include tabletstyle() {
        width:220px;
    }
}


// Récapitulatif des produits aux panier
#cartSection
{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    position:relative;
    width:80%;
    margin:50px auto;
    @include desktopstyle() {
        padding:0px 20px;
    }
}

table
{
    margin: 15px auto 25px auto;
    border-collapse:collapse;

    tr
    {
            width:250px;
            border: 0.5px $logo-color solid;
            margin-bottom:30px;
            font-size: 0.9em;
            @include tabletstyle() {
                width:350px;
            }
            @include desktopstyle() {
                border:none;
            }
    }

    tbody tr
    {
        display:flex;
        flex-direction: column;
        @include desktopstyle() {
            display:table-row;
        }
    }


    th, td
    {
        margin:auto;
        @include desktopstyle() {
            width:110px;      
        }
    }

    th, thead td
    {
        display:none;
        @include desktopstyle() {
            background-color: $button-color;
            color:white;
            padding:5px 0;
            border-bottom: 2px solid black;
            border-top: 2px solid black;
            display: table-cell;
        }
    }

    td
    {
        border-bottom: none;
        padding: 3px 0;   
        @include desktopstyle() {                   
            padding:20px 0 20px 0;
            border-bottom: 0.5px solid black;
        }

        &:nth-child(5)
        {
            width: 100px;
        }
    }

    label
    {
        display:none;
    }

    img
    {
        max-width:150px;
        margin-top:5px;
        @include tabletstyle() {
            max-width:200px;
        }
        @include desktopstyle() {
            max-width: 150px;
        }
    }

    &.noDisplay
    {
        display:none;
    }
}

svg
{
    cursor:pointer;
}

.binSvg
{
    padding-top:3px;
}

.quantityCell 
{

        margin:0 auto;
        display:flex;
        justify-content: center;
        align-items: center;
        @include desktopstyle() {
            display:table-cell;
        }
}

.quantity
{
    margin:0;
    font-size:0.9em;
    width:15px;
    height:18px;
    padding-right:4px;
    /* Firefox */
	-moz-appearance: textfield;
	/* Chrome */
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}  
	/* Opéra*/
	&::-o-inner-spin-button {
		-o-appearance: none;
		margin: 0; 
	}
    @include tabletstyle() {        
        height:15px;
    }
}

.changeQuantity__item
{
    position: initial;
    padding:3px;
    margin:2px;
    fill:grey;
    border: black solid 0.5px;
    @include tabletstyle() {
        position:relative;
        padding:1px;
        top:0px;
        margin:2px;
    }
    @include desktopstyle() {
        top: 4px;
        margin:-1px;
    }
}

#totalPriceCart
{
    font-weight:bold;
}


// Formulaire
#orderForm {
    &.noDisplay {
        display:none;
    }

    button
    {
        margin-bottom: 35px;
    }
}

.formInputs
{
    padding: 10px 0px 10px 0px;
    width:250px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

label
{
    font-size:0.9em;
    font-style: italic;
    margin-right:50px;
}

input
{
    padding-left:5px;
    margin-bottom:10px;
}