// Variables
$logo-color:#f4e9f2;
$background-color:#f4e9f23d;
$button-color: #936884;
$font-family:(headings:"Satisfy", button:"Satisfy", text:"Roboto");
$font-size:(headings:1.6em, heading_h2: 1.2em, button: 1.2em, text:0.9em);

// Mixins
@mixin tabletstyle {
    @media all and (min-width:483px){
        @content;
    }
}

@mixin desktopstyle {
    @media all and (min-width:993px){
        @content;
    }
}

// Balises générales
body
{
    margin:0;
    padding:0;
    width:auto;
    font-family: map-get($map: $font-family, $key:text );
}

a
{
    color:black;
    text-decoration:none;
}

// Header
header
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px 0px 0px;
    @include tabletstyle() {
        padding:0 50px 0px 0px;
    }


    img
    {
        width:80px;
        margin-top:5px;
        @include tabletstyle() {
            width:120px;
            margin-top:2px;
        }
    }

    a
    {
        font-weight:600;
        color:white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

#logoPart
{
    background-color:$logo-color;
    width:110px;
    border-radius:30% / 70%;
    margin:5px 0px 0px 5px;
    text-align:center;
    @include tabletstyle() {
        width:160px;
    }
}

nav ul
{
    display:none;
    @include tabletstyle() {
        display: initial;
        display:flex;
        width:180px;
        justify-content: space-between;
    }

    li
    {
        color:white; 
    }
}

#mobileOnly
{
    fill:white;
    background-color: transparent;
    padding-top:15px;
    @include tabletstyle() {
        display:none;
    }
}

// Bannière principale
section
{
    text-align:center;
}

main
{
    clip-path: inset(5% 10% 5% 10%);
    margin:0;
    border:white solid 1px;
}

#cartSection
{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:50px 20px 30px 20px;
    min-height:500px;
    @include desktopstyle() {
        border-radius:20%;
    }
}

#mainSection
{
    clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
    background-color: white;
    margin:0;
    border:white solid 1px;
}

#try
{
    background-image: url(../img/teddy-5091798.jpg);
    background-attachment: fixed;
    background-size:cover;
    background-position-x: -100px;
    @include desktopstyle() {
        background-position-x: -170px;
    }
}

h1
{
    font-family:map-get($map: $font-family, $key: headings);
    font-size: map-get($map: $font-size, $key: headings);
    width:60%;
    margin: auto;
    padding:10px 0;
    @include desktopstyle() {
        width:70%;
    }
}

h2
{
    font-family:map-get($map: $font-family, $key: headings);
    font-size: map-get($map: $font-size, $key: heading_h2);
    margin:auto;
    padding-top:40px;
    margin:50px 20px 0px 20px;
}

p
{
    margin-top:10px;
    padding:0;
}

button
{
    background-color:$button-color;
    color:white;
    height:50px;
    width:55%;
    border-radius:25px;
    cursor:pointer;
    position:relative;
    border:none;
    font-size:map-get($map: $font-size, $key: button);
    font-family: map-get($map: $font-family, $key: button);
    @include tabletstyle() {
        width:220px;
    }


    &:hover
    {
        &::after
        {
            opacity:0.2;
        }
    }

    &::after
    {
        content:"";
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;  
        left: 0;
        background-color: lighten($button-color,25%);
        color:white;
        border:none;
        border-radius:25px;
        opacity:0;
        transition: opacity 250ms;
        box-shadow: 2px 2px 10px $button-color;
    }
}


//Footer
footer
{
    background-color: $logo-color;
    margin:0;
    padding:20px 0;
}

ul
{
    text-align:center;
    list-style-type: none;
    padding:0;

    li 
    {
        margin-top:5px;
    }
}

#socialPart
{
    width:70%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    @include tabletstyle() {
        width:250px;
    }
}

i
{
    color:$button-color;

    &:hover
    {
        color:darken($color: $button-color, $amount: 20%);
    }
}


// Formulaire
.formInputs
{
    padding: 10px 0px 10px 0px;
    width:250px;
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

input
{
    padding-left:5px;
    margin-bottom:10px;
}

label
{
    font-size:0.9em;
    font-style: italic;
}