@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

span {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 1;
  color: black;
}

#cartIcon {
  position: absolute;
  top: 9px;
  right: 24px;
  z-index: 0;
  fill: #f4e9f2;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0px 0px;
}

@media all and (min-width: 483px) {
  header {
    padding: 0 50px 0px 0px;
  }
}

header img {
  width: 80px;
  margin-top: 5px;
}

@media all and (min-width: 483px) {
  header img {
    width: 120px;
    margin-top: 2px;
  }
}

header a {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logoPart {
  background-color: #f4e9f2;
  width: 110px;
  border-radius: 30% / 70%;
  margin: 5px 0px 0px 5px;
  text-align: center;
}

@media all and (min-width: 483px) {
  #logoPart {
    width: 160px;
  }
}

nav ul {
  display: none;
}

@media all and (min-width: 483px) {
  nav ul {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav ul li {
  color: white;
}

#mobileOnly {
  fill: white;
  background-color: transparent;
  padding-top: 15px;
}

@media all and (min-width: 483px) {
  #mobileOnly {
    display: none;
  }
}

section {
  text-align: center;
}

main {
  -webkit-clip-path: inset(5% 10% 5% 10%);
          clip-path: inset(5% 10% 5% 10%);
  margin: 0;
  border: white solid 1px;
}

#cartSection {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 20px 30px 20px;
  min-height: 500px;
  position: relative;
}

@media all and (min-width: 993px) {
  #cartSection {
    border-radius: 20%;
  }
}

#try {
  background-image: url(../img/teddy-5091798.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -100px;
}

@media all and (min-width: 993px) {
  #try {
    background-position-x: -70px;
  }
}

h1 {
  font-family: "Satisfy";
  font-size: 1.6em;
  width: 60%;
  margin: auto;
  padding: 10px 0;
}

@media all and (min-width: 993px) {
  h1 {
    width: 70%;
  }
}

h2 {
  font-family: "Satisfy";
  font-size: 1.2em;
  margin: auto;
  padding-top: 40px;
  margin: 50px 20px 0px 20px;
}

p {
  margin-top: 10px;
  padding: 0;
}

button {
  background-color: #936884;
  color: white;
  height: 50px;
  width: 55%;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  border: none;
  font-size: 1.2em;
  font-family: "Satisfy";
}

@media all and (min-width: 483px) {
  button {
    width: 220px;
  }
}

button:hover::after {
  opacity: 0.2;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9b2c1;
  color: white;
  border: none;
  border-radius: 25px;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-box-shadow: 2px 2px 10px #936884;
          box-shadow: 2px 2px 10px #936884;
}

footer {
  background-color: #f4e9f2;
  margin: 0;
  padding: 20px 0;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-top: 5px;
}

#socialPart {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 483px) {
  #socialPart {
    width: 250px;
  }
}

i {
  color: #936884;
}

i:hover {
  color: #573e4e;
}

table {
  margin: 15px auto 25px auto;
  border-collapse: collapse;
}

table th, table td {
  width: 150px;
}

table th {
  background-color: #936884;
  color: white;
  padding: 5px 0;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

table th:nth-child(5) {
  width: 30px;
}

table td {
  padding: 20px 0 10px 0;
  border-bottom: 0.5px solid black;
}

table td:nth-child(5) {
  width: 30px;
}

table label {
  display: none;
}

table img {
  max-width: 150px;
  margin: auto;
  margin-top: 5px;
}

.formInputs {
  padding: 10px 0px 10px 0px;
  width: 250px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

input {
  padding-left: 5px;
  margin-bottom: 10px;
}

#quantity {
  width: 10px;
  height: 15px;
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  /* Opéra*/
}

#quantity::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#quantity::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

label {
  font-size: 0.9em;
  font-style: italic;
  margin-right: 50px;
}

svg {
  cursor: pointer;
}

.changeQuantity__item {
  position: relative;
  top: 4px;
  margin: -2px;
  fill: grey;
  border: black solid 0.5px;
  padding: 1px;
}
/*# sourceMappingURL=cartstyle.css.map */