body {
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0px 0px;
}

@media all and (min-width: 483px) {
  header {
    padding: 0 50px 0px 0px;
  }
}

header img {
  width: 80px;
  margin-top: 5px;
}

@media all and (min-width: 483px) {
  header img {
    width: 120px;
    margin-top: 2px;
  }
}

header a {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logoPart {
  background-color: #f4e9f2;
  width: 110px;
  border-radius: 30% / 70%;
  margin: 5px 0px 0px 5px;
  text-align: center;
}

@media all and (min-width: 483px) {
  #logoPart {
    width: 160px;
  }
}

nav ul {
  display: none;
}

@media all and (min-width: 483px) {
  nav ul {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav ul li {
  color: white;
}

#mobileOnly {
  fill: white;
  background-color: transparent;
  padding-top: 15px;
}

@media all and (min-width: 483px) {
  #mobileOnly {
    display: none;
  }
}

section {
  text-align: center;
}

main {
  -webkit-clip-path: inset(5% 10% 5% 10%);
          clip-path: inset(5% 10% 5% 10%);
  margin: 0;
  border: white solid 1px;
}

#cartSection {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 50px 20px 30px 20px;
  min-height: 500px;
}

@media all and (min-width: 993px) {
  #cartSection {
    border-radius: 20%;
  }
}

#try {
  background-image: url(../img/teddy-5091798.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -100px;
}

@media all and (min-width: 993px) {
  #try {
    background-position-x: -170px;
  }
}

h1 {
  font-family: "Satisfy";
  font-size: 1.6em;
  width: 60%;
  margin: auto;
  padding: 10px 0;
}

@media all and (min-width: 993px) {
  h1 {
    width: 70%;
  }
}

h2 {
  font-family: "Satisfy";
  font-size: 1.2em;
  margin: auto;
  padding-top: 40px;
  margin: 50px 20px 0px 20px;
}

p {
  margin-top: 10px;
  padding: 0;
}

button {
  background-color: #936884;
  color: white;
  height: 50px;
  width: 55%;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  border: none;
  font-size: 1.2em;
  font-family: "Satisfy";
}

@media all and (min-width: 483px) {
  button {
    width: 220px;
  }
}

button:hover::after {
  opacity: 0.2;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9b2c1;
  color: white;
  border: none;
  border-radius: 25px;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-box-shadow: 2px 2px 10px #936884;
          box-shadow: 2px 2px 10px #936884;
}

footer {
  background-color: #f4e9f2;
  margin: 0;
  padding: 20px 0;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-top: 5px;
}

#socialPart {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 483px) {
  #socialPart {
    width: 250px;
  }
}

i {
  color: #936884;
}

i:hover {
  color: #573e4e;
}

#teddyPresentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 150px;
}

#teddyPresentation img {
  position: absolute;
  left: 0;
  width: 55%;
  -webkit-clip-path: ellipse(45% 50% at 50% 50%);
          clip-path: ellipse(45% 50% at 50% 50%);
}

#teddyPresentation__info {
  text-align: center;
  border: red solid 1px;
  position: absolute;
  right: 0;
  width: 45%;
  height: 400px;
}
/*# sourceMappingURL=productstyle.css.map */