@import "./generalstyle.scss";

// Balises spécifiques page produit
// Générales
h1
{

    font-size: map-get($map: $font-size, $key: headings);
    width:60%;
    padding:10px 0;
    @include desktopstyle() {
        width:70%;
    }
}

h2
{
    font-size: map-get($map: $font-size, $key: heading_h2);
    padding-top:40px;
    margin:50px 20px 0px 20px;
}

button
{
    width:55%;
    @include tabletstyle() {
        width:220px;
    }
}


// Contenu principal - Présentation de l'article sélecitonné
#productSection
{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:50px 20px 30px 20px;
    margin:15px 15px 35px 15px;
    @include desktopstyle() {
        width:80%;
        margin:35px auto;
        max-width:1000px;
    }
}

#teddyPresentation
{
    display:flex;
    flex-direction:column;
    position:relative;

    img
    {
        clip-path: inset(0 10% 0 10% round 10%);
        @include tabletstyle() {
            width:70%;
            max-width:600px;
            margin:auto;
        }
    }

    &__info
    {
        font-size:0.8em;
        width:70%;
        margin:auto;
        @include tabletstyle() {
            font-size:map-get($map: $font-size, $key: text);
            width:60%;
        }
    }
}

form p
{
    display:flex;
    flex-direction:column;
    width:70%;
    margin:auto;
    font-size:0.8em;
    @include tabletstyle() {
        margin-top:25px;
        font-size:map-get($map: $font-size, $key: text);
        width:80%;
    }

    select
    {
        width:30%;
        margin:10px auto;
    }
}