body {
  margin: 0;
  padding: 0;
  width: auto;
  font-family: "Roboto";
}

a {
  color: black;
  text-decoration: none;
}

h1, h2 {
  font-family: "Satisfy";
  font-size: 1.6em;
  margin: auto;
}

h1 {
  width: 60%;
  padding: 10px 0;
}

@media all and (min-width: 483px) {
  h1 {
    width: 70%;
  }
}

h2 {
  margin: auto;
  margin-top: 50px;
}

@media all and (min-width: 483px) {
  h2 {
    padding-top: 40px;
  }
}

p {
  margin: 10px 0 0 0;
  padding: 0;
}

button {
  background-color: #936884;
  color: white;
  height: 50px;
  width: 55%;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  border: none;
  font-size: 1.2em;
  font-family: "Satisfy";
}

@media all and (min-width: 483px) {
  button {
    width: 220px;
  }
}

button:hover::after {
  opacity: 0.2;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #c9b2c1;
  color: white;
  border: none;
  border-radius: 25px;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-box-shadow: 2px 2px 10px #936884;
          box-shadow: 2px 2px 10px #936884;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px 0px 0px;
}

@media all and (min-width: 483px) {
  header {
    padding: 0 50px 0px 0px;
  }
}

header img {
  width: 80px;
  margin-top: 5px;
}

@media all and (min-width: 483px) {
  header img {
    width: 120px;
    margin-top: 2px;
  }
}

header a {
  font-weight: 600;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#logoPart {
  background-color: #f4e9f2;
  width: 110px;
  border-radius: 30% / 70%;
  margin: 5px 0px 0px 5px;
  text-align: center;
}

@media all and (min-width: 483px) {
  #logoPart {
    width: 160px;
  }
}

#navigationMenu {
  display: none;
}

@media all and (min-width: 483px) {
  #navigationMenu {
    display: initial;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 180px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#navigationMenu li {
  color: white;
}

#mobileOnly {
  fill: white;
  background-color: transparent;
  padding-top: 15px;
}

@media all and (min-width: 483px) {
  #mobileOnly {
    display: none;
  }
}

#backgroundContainer {
  background-image: url(../img/teddy-5091798.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position-x: -100px;
}

@media all and (min-width: 993px) {
  #backgroundContainer {
    background-position-x: -170px;
  }
}

section {
  text-align: center;
}

#heroSection {
  height: 500px;
  margin-top: 0;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

@media all and (min-width: 483px) {
  #heroSection {
    height: 400px;
  }
}

@media all and (min-width: 993px) {
  #heroSection {
    height: 500px;
    background-color: transparent;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-right: 100px;
  }
}

#heroSection_blank {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 20px 20px 30px 20px;
  margin: 0px 10px 0px 10px;
}

@media all and (min-width: 483px) {
  #heroSection_blank {
    margin: 0px 15% 0px 15%;
    border-radius: 10%;
  }
}

@media all and (min-width: 993px) {
  #heroSection_blank {
    border-radius: 20%;
    margin: 0px 15px 0px 0px;
  }
}

#mainSection {
  -webkit-clip-path: polygon(50% 0%, 100% 1%, 100% 100%, 0 100%, 0% 1%);
          clip-path: polygon(50% 0%, 100% 1%, 100% 100%, 0 100%, 0% 1%);
  background-color: white;
  margin: 0;
  border: white solid 1px;
}

@media all and (min-width: 483px) {
  #mainSection {
    -webkit-clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
            clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
  }
}

.mainSection__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media all and (min-width: 993px) {
  .mainSection__items {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.itemCard {
  width: 70%;
  max-width: 300px;
  border-radius: 20%;
  margin: 50px 30px;
}

@media all and (min-width: 993px) {
  .itemCard {
    width: 25%;
    min-width: 200px;
    margin: 50px 30px;
  }
}

.itemCard img {
  width: 100%;
  border-radius: 20%;
}

.itemCard p:nth-child(3) {
  padding: 0 15px 0 15px;
  font-size: 0.8em;
}

.itemCard button {
  margin: 25px 0px;
}

.nameSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.nameSection .cartButton {
  width: 60px;
  position: relative;
}

footer {
  background-color: #f4e9f2;
  margin: 0;
  padding: 20px 0;
}

ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-top: 5px;
}

#socialPart {
  width: 70%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 483px) {
  #socialPart {
    width: 250px;
  }
}

i {
  color: #936884;
}

i:hover {
  color: #573e4e;
}
/*# sourceMappingURL=style.css.map */