@import "./generalstyle.scss";

// Balises spécifiques page accueil
// Générales
a
{
    width:auto;
    @include desktopstyle() {
        max-width:250px;
    }
}

h1, h2
{
    font-size: map-get($map: $font-size, $key: headings);
}

h1
{
    width:85%;
    padding:10px 0;
    @include tabletstyle() {
        width:70%;
    }
}

h2
{
    margin:auto;
    margin-top:50px;
    @include tabletstyle() {
        padding-top:40px;
    }
}

button
{
    width:70%;
}


// Bannière principale
section
{
    text-align:center;
}

#heroSection
{
    height:500px;
    margin:0 auto 10px auto;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    @include tabletstyle() {
        height:400px;
    }
    @include desktopstyle() {
        height:500px;
        background-color: transparent;
        align-items:flex-end;
        padding-right:100px;
    }

    &_blank
    {
        background-color: rgba(255, 255, 255, 0.6);
        padding:20px 20px 30px 20px;
        margin:0px 10px 0px 10px;
        height:310px;
        @include tabletstyle() {
            margin:0px auto;
            width:400px;
            border-radius:10%;
        }
        @include desktopstyle() {
            border-radius:20%;
            margin:0px 15px 0px 0px;
        }

        & p
        {
            margin:3% 0 9% 0;
            line-height: 1.5em;
            @include tabletstyle() {
                margin: 20px 5% 50px 5%;
            }
        }
    }
}


// Affichage des Teddy
#mainSection
{
    clip-path: polygon(50% 0%, 100% 1%, 100% 100%, 0 100%, 0% 1%);
    background-color: white;
    margin:0;
    border:white solid 1px;
    @include tabletstyle() {
        clip-path: polygon(50% 0%, 100% 5%, 100% 100%, 0 100%, 0% 5%);
    }
}

.mainSection__items
{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    @include desktopstyle() {
        justify-content: space-evenly;
    }
}

.itemCard
{
    width:70%;
    max-width:300px;
    border-radius: 20%;
    margin:50px auto;
    @include desktopstyle() {
        width:25%;
        min-width:200px;
    }

    img
    {
        width:100%;
        border-radius: 20%;
    }

    p:nth-child(3)
    {
        padding:0 15px 0 15px;
        font-size: map-get($map: $font-size, $key: teddy_description);
    }

    button
    {
        margin:25px 0px;
    }
}

.nameSection
{
    display:flex;
    justify-content: space-around;
    align-items: baseline;

    .cartButton
    {
        width:60px;
        position:relative;
    }
}

.discoverButton
{
    width:100%;
}
